.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 60px;
  background-color: #ffffff;

  &__nav {
    display: flex;
  }

  &__user {
    margin-left: 20px;
    position: relative;
    cursor: pointer;
  }

  .user-nav {
    margin-top: 10px;
    border-radius: 5px;
    position: absolute;
    left: -190px;
    background-color: #cec3c3;
    padding: 10px 20px;
    white-space: nowrap;
  }

  .user-area {
    margin-bottom: 5px;
    display: block;
  }

  &__search {
    display: flex;
    align-items: center;
    padding-left: 30px;
  }

  .search-icon {
    width: 13px;
    height: 13px;
    margin-right: 10px;
  }

  .site-logo {
    padding-right: 30px;
    border-right: 1px solid gray;
    height: 25px;
    display: flex;
    align-items: center;
  }

  &__tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__search input {
    border: none;
    width: 175px;
  }

  &__link {
    font-size: 13px;
    padding-left: 15px;
    height: 25px;
    display: flex;
    align-items: center;
  }

  .link_about,
  .link_create {
    padding-right: 15px;
  }

  .link_create {
    border-right: 1px solid gray;
    border-left: 1px solid gray;
  }

  .user-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #dedede;
    border-radius: 50%;
  }

  .user-icon {
    width: 13px;
    height: 13px;
  }
}
